@page "{id:int?}"
@model ContosoUniversity.Pages.Instructors.IndexModel

@{
    ViewData["Title"] = "Instructors";
}

<h2>Prowadzacy</h2>

<p>
    <a asp-page="Create">dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nazwisko</th>
            <th>Imie</th>
            <th>Data zatrudnienia</th>
            <th>Biuro</th>
            <th>Kursy</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Instructor.Instructors)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["InstructorID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstMidName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @if (item.OfficeAssignment != null)
                    {
                        @item.OfficeAssignment.Location
                    }
                </td>
                <td>
                    @{
                        foreach (var course in item.CourseAssignments)
                        {
                            @course.Course.CourseID @:  @course.Course.Title <br />
                        }
                    }
                </td>
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">Wybierz</a> |
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edytuj</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Szczegoly</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Usun</a>
                </td>
            </tr>
                        }
    </tbody>
</table>

@if (Model.Instructor.Courses != null)
{
    <h3>Kursy prowadzone przez instruktora</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Nazwa</th>
            <th>Wydzial

        @foreach (var item in Model.Instructor.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == (int?)ViewData["CourseID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Wybierz", "OnGetAsync", new { courseID = item.CourseID })
                </td>
                <td>
                    @item.CourseID
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Department.Name
                </td>
            </tr>
        }

    </table>
}

@if (Model.Instructor.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <tr>
            <th>Nazwa</th>
            <th>Stopien</th>
        </tr>
        @foreach (var item in Model.Instructor.Enrollments)
        {
            <tr>
                <td>
                    @item.Student.FullName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
            </tr>
        }
    </table>
}